html
{
    background: transparent
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
select,
p,
blockquote,
th,
td
{
    margin: 0;
    padding: 0
}

table
{
    border-collapse: collapse;
    border-spacing: 0
}

fieldset,
img
{
    border: 0
}

address,
button,
caption,
cite,
code,
dfn,
em,
input,
optgroup,
option,
select,
strong,
textarea,
th,
var
{
    font: inherit
}

del,
ins
{
    text-decoration: none
}

li
{
    list-style: none
}

caption,
th
{
    text-align: left
}

h1,
h2,
h3,
h4,
h5,
h6
{
    font-size: 100%;
    font-weight: normal
}

q:before,
q:after
{
    content: ''
}

abbr,
acronym
{
    border: 0;
    font-variant: normal
}

sup
{
    vertical-align: baseline
}

sub
{
    vertical-align: baseline
}

legend
{
    color: #000
}

/***/
/*{*/
    /*color: transparent*/
/*}*/

body
{
    background: transparent;
    color: green;
}

*
{
    pointer-events: none;
    -webkit-user-select: none;
    -webkit-user-modify: none;
    -webkit-user-drag: none;
}

table
{
    border-collapse: collapse;
    empty-cells: show;
    table-layout: fixed;
    font-family: 'StatusBoardFont', 'StatusBoardFontLight', 'Roadgeek2005SeriesD', sans-serif;
    text-transform: uppercase;
    border-spacing: 0px;
    width: 100%;
}

/* A single project box */

tr
{
    height: 64px !important;
}

td,
th
{
    max-height: 44px;
    min-height: 44px;
    height: 44px !important;
    color: rgba(255, 255, 255, 1);
    padding: 10px 12px 0px 12px !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 2.3em;
    border-bottom: 1px solid rgba(255, 255, 255, .13);
}

td img
{
    max-height: 44px;
}

th
{
    text-align: center;
    font-family: 'StatusBoardFontLight', 'StatusBoardFont', 'Roadgeek2005SeriesD', sans-serif;
    min-height: 45px;
    font-size: 1.5em;
    color: rgb(100, 100, 100);
    line-height: 110%;
}

.smallType
{
    font-family: 'StatusBoardFontLight', 'StatusBoardFont', 'Roadgeek2005SeriesD', sans-serif;
    min-height: 45px;
    font-size: 1.3em;
    color: rgb(200, 200, 200);
    line-height: 110%;
    position: relative;
    top: -2px;
}

.projectIcon
{
    text-align: center;
    width: 50px;
    max-width: 50px;
    min-width: 50px;
}

.projectIcon img
{
    height: 30px;
    position: relative;
    top: -5px;
}

.projectName
{
    width: 215px;
}

.projectVersion
{
    width: 80px;
}

.projectPersons
{
    width: auto;
}

.person
{
    height: 35px;
    margin-left: -8px;
}

td.projectsBars
{
    width: 100px;
    min-width: 100px;
    max-width: 100px;
    -webkit-background-size: auto, auto, auto;
    padding: 0 0 0 0px;
    position: relative;
}

div.value1
{
    background-color: #ff3000;
}

div.value2
{
    background-color: #ff4700;
}

div.value3
{
    background-color: #ff6a00;
}

div.value4
{
    background-color: #ff9000;
}

div.value5
{
    background-color: #ffb100;
}

div.value6
{
    background-color: #fec600;
}

div.value7
{
    background-color: #d6c600;
}

div.value8
{
    background-color: #9dc600;
}

div.value9
{
    background-color: #5fc600;
}

div.value10
{
    background-color: #00ba00;
}

td.projectsBars div.barSegment
{
    width: 10px;
    min-width: 10px;
    max-width: 10px;
    display: inline-block;
    position: absolute;
    bottom: 10%;
}

div.barSegment:nth-of-type(1)
{
    height: 8%;
    left: 4;
}

div.barSegment:nth-of-type(2)
{
    height: 16%;
    left: 16px;
}

div.barSegment:nth-of-type(3)
{
    height: 24%;
    left: 28px;
}

div.barSegment:nth-of-type(4)
{
    height: 32%;
    left: 40px;
}

div.barSegment:nth-of-type(5)
{
    height: 40%;
    left: 52px;
}

div.barSegment:nth-of-type(6)
{
    height: 48%;
    left: 64px;
}

div.barSegment:nth-of-type(7)
{
    height: 56%;
    left: 76px;
}

div.barSegment:nth-of-type(8)
{
    height: 64%;
    left: 88px;
}

div.barSegment:nth-of-type(9)
{
    height: 72%;
    left: 100px;
}

div.barSegment:nth-of-type(10)
{
    height: 80%;
    left: 112px;
}

/* Progress bars */

td.projectProgress
{
    position: relative;
    padding: 0px 12px !important;
}

.projectProgress span
{
    background-color: red;
    display: block;
    position: absolute;
    height: 100%;
}

.progressBarContainer
{
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    width: auto;
    height: 40px;
    /* 	top: 1px; */

    background: rgba(255, 255, 255, .15);
}

.projectProgress.green span
{
    background-color: #00b800;
}

.projectProgress.red span
{
    background-color: #fc2f00;
}

.projectProgress.purple span
{
    background-color: #9900c0;
}

.projectProgress.blue span
{
    background-color: #006be3;
}

.projectProgress.gray span
{
    background-color: #667175;
}

.projectProgress.silver span
{
    background-color: #b1b9bc;
}

.projectProgress.orange span
{
    background-color: #fc6b00;
}

.projectProgress.teal span
{
    background-color: #03a199;
}

.projectProgress.pink span
{
    background-color: #ff5ab5;
}

/* End Progress bars */
